.login-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

.error {
  color: red;
  margin-top: 1rem;
}
